* {
    font-family: FiraCode , Noto Sans,FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#clock,
#battery,
#network,
#pulseaudio,
#tray{
    padding: 0 10px;
    border-radius: 15px;
    background: #0239ee;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    margin-top: 10px;
    margin-right: 5px;
}

window#waybar {
    background: transparent;
}

#workspaces button label{
    color: 	#fff ;
    font-weight: bolder;
}

#workspaces button.active label{
    color: #fff;
    font-weight: bolder;
}

#workspaces{
    background-color: transparent;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button{
    background-color: #11111b;
    border-radius: 15px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
    color: 	#fff;
    transition: all 0.1s ease-in-out;
}

#workspaces button.active{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 3px;
    background: #0239ee;
}

#clock {
    background: #0239ee;
    color: #fff ;
    font-size: 15px;
    font-weight: bolder;
    
    margin-right: 20px;
    padding-right: 21px;
    padding-left: 20px;
}

#battery {
    background-color: #0239ee;
    color:#fff;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#battery.critical:not(.charging) {
    background-color:  #cd2252;
    color:#fff;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network{
    color:#fff;
}

#network{
    background-color: #0239ee ;
}

#pulseaudio {
    background-color:  	#0239ee;
    color: #fff;
}

#custom-media.custom-spotify {
    background-color: #21ce55;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
    background-color: #0239ee;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #0239ee;
}

