* {
  font-family: FiraCode, Noto Sans, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#custom-logo {
  font-weight: bolder;
  margin-left: 17px;
}

#clock,
#battery,
#network,
#pulseaudio,
#custom-logo,
#tray,
#language, #window {
  border-radius: 15px;
  background-color: #13b128;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
  padding: 0 10px;
  margin-top: 10px;
  margin-right: 5px;
}

window#waybar {
  background: transparent;
}

#workspaces button label {
  color: #fff;
  font-weight: bolder;
}

#workspaces button.active label {
  color: #fff;
  font-weight: bolder;
}

#workspaces {
  background: transparent;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

#workspaces button:hover{
  border: none;
}

#workspaces button {
  background: #11111b;
  border-radius: 15px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bolder;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

#workspaces button.active {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 3px;
  background: #13b128;
}

#clock {
  background: #13b128;
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  margin-right: 17px;
  padding-right: 21px;
  padding-left: 20px;
}

#battery {
  background: #13b128;
  color: #fff;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#network {
  color: #fff;
}

#network {
  background: #13b128;
}

#pulseaudio {
  background: #13b128;
  color: #fff;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background: #13b128;
}