@import "./theme.scss";

window {
    margin: 0px;
    border-radius: $window-border-radius;
    background-color: $background-color;
    font-family: "FiraCode Nerd Font Mono";
    font-size: 14px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #fff;
    font-weight: bold;
    background: $background-color;
    border: 2px solid $theme-color;

   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}

#inner-box {
    border: 10px solid transparent;
    background-color: $background-color;
    margin: 4px;
    color: $theme-color;
    font-weight: bold;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
}

#text:selected {
    color: #fff;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    color: #fff;
    background: $theme-color;
}
